<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pony Weather</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/index.css">
</head>
    
    <div id="app" style="background: url(<%-image.background%>) no-repeat 0% 0% fixed / cover">
        <div id="info">
            <img src="<%=image.weather%>" alt="" id="image">
            <h1 id="locationText"><%=location%></h1>
            <h2 id="weatherText"><%=weather.weather_state_name%></h2>
            <h2 id="deg"><%=Math.round(weather.the_temp)%> C</h2>
            <h2 id="time"><%=date.formatted%></h2>
            <div id="opensource">
                <a href="https://github.com/felixfong227/ponyweather" target="_blank">
                    <i class="fa fa-github icon" aria-hidden="true"></i>This project is Open Source
                </a>
            </div>
        </div>
    </div>

</body>
</html>